<div class="search">
    <div class="container">

        <div class=" row">
            <div class="col-md-8 col-md-offset-2">
                <%= form_tag({:controller=>'search', :action=>'journal_search'}, {:method=>'get', :name=>'OpenURL', :id=>'OpenURL', :role =>'form', :class => "form-very-inline"})  %>

                    <%= hidden_field_tag "rfr_id", "info:sid/sfxit.com:citation" %>
                    <%= hidden_field_tag "rft.title", "", {:class => "rft_title"} %>
                    <%= hidden_field_tag "rft.object_id", "", {:class => "rft_object_id"} %>
                    <%= hidden_field_tag "rft.issn", "" %>
                    <%-
                        # specific article fields from prior form may be present, if the user is now choosing from
                        # amongst serveral possible title matches. Preserve them on refinement of search terms.
                    -%>
                    <% params.slice("rft.date", "__year", "__month", "__day", "rft.volume", "rft.issue", "rft.spage").each_pair do |key, value| %>
                        <%= hidden_field_tag key, value %>
                    <% end %>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-8">
                          <div class="control-group">
                            <%= text_field :journal, :title, {:name=>'rft.jtitle', :value=>params['rft.jtitle'], :class=>"title_search input-lg form-control ", :placeholder=>"Title", :autocomplete => "on"} %>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="input-group input-group-lg">
                            <%# <div class="input-group-btn"> %>
                            <%#= button_tag "More search options", { :"data-toggle"=>"collapse", :"data-target"=>"#advanced", :name=>"Generate_OpenURL2", :class => "btn btn-primary"}  do content_tag(:span, '', {:class => "glyphicon glyphicon-cog"}) end %>
                            <%#</div> %>
                            <%= text_field :journal, :isbn, {:name=>'rft.issn', :max_length => "9", :placeholder=>"ISSN",:class=>"issn form-control"} %>
                            <div class="input-group-btn">
                              <%= button_tag "Search", {:name=>"Generate_OpenURL2", :class => "btn btn-primary"}  do content_tag(:span, '', {:class => "glyphicon glyphicon-search "}) end %>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                      <%#<div class="form-group">
                        <select name="umlaut.title_search_type" class="form-control">%>
                          <%#= options_for_select({t(:contains) => "contains", t(:begins_with) => "begins", t(:exact_match) => "exact"}, params["umlaut.title_search_type"])  %>
                        <%# </select>
                      </div> %>

                    <div id="advanced" class="collapse ">Advanced search</div>


                </form>
            </div>
        </div>

    </div>
</div>



<div class="container">

    <h3 class=""><%= @page_title %></h3>
        <% if params["action"] == "journal_list" %>
        <%= render :partial=>"a_to_z" %>
    <% end %>


    <% unless @hits == 0%>
      <h3><%= t( :showing_results, start: @start_result_num, until:  @end_result_num, total: @hits) %></h3>
    <% end %>
    <% if params["rft.jtitle"] %>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <em><strong><%= t :note %></strong><%= t :other_titles_might %> </em>
        </div>
    <% end %>

    <div class="results">
      <% @display_results.each do | co |
        @current_context_object = co
        partial_name = @citation_partial || 'citation' %>
            <div class="result">
                <div class="row">
                    <%= render :partial=>partial_name %>
                </div>
            </div>
      <% end %>
    </div>

    <div class='text-center'>
      <%= render :partial=>'pager' %>
    </div>

</div>