<%# local implementers may over-ride this partial for custom local header. 
    This partial is called by default umlaut layout.  %>

<!--div id="footer" class="footer">
  <%# if umlaut_config.footer_credit.present? %>
    <%#= umlaut_config.footer_credit %> |
  <%# end %>

  <%#= render_service_credits %>
  
  links to aid in debugging openurls gone wrong when in production
  <%#= link_to_test_resolve %>
  <%#= link_to_direct_sfx %>
  <%#= link_to_toggle_debug_info %>
  <%#= umlaut_config.footer_credit %> |

</div> -->
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <strong class="lead">REX</strong>
      <ul class="list-unstyled">
        <li><a href="<%= t '.help_link' %>"><%= t '.help_text' %></a></li>
        <li><a href="<%= t '.classic_link' %>"><%= t '.classic_text' %></a></li>
        <li><a href="<%= t '.other_libraries_link' %>"><%= t '.other_libraries_text' %></a></li>
        <li><a href="<%= t '.suggest_link' %>"><%= t '.suggest_text' %></a></li>
        <li><a title="<%= t '.cant_find_text' %>" href="<%= t '.cant_find_link' %>" target="_blank"><%= t '.cant_find_text' %></a></li>


      </ul>
    </div>

    <hr class="visible-xs" />

    <div class="col-xs-12 col-sm-4">
      <strong class="lead">DET KONGELIGE BIBLIOTEK</strong>
      <ul class="list-unstyled">
        <li><a href="<%= t '.opening_times_link' %>"><%= t '.opening_times_text' %></a></li>
        <li><a href="<%= t '.contact_link' %>"><%= t '.contact_text' %></a></li>
        <li><a href="<%= t '.handicap_link' %>"><%= t '.handicap_text' %></a></li>
        <li><a href="<%= t '.cookie_link' %>"><%= t '.cookie_text' %></a></li>
        <li><a href="<%= t '.about_link' %>"><%= t '.about_text' %></a></li>
      </ul>
    </div>

  </div>

  <hr />

  <div class="row">

    <a href="http://www.kb.dk" class="col-xs-2 col-sm-1">
      <img src="/assets/footerLogo.png" class="img-responsive" alt="Det Kongelige Bibliotek">
    </a>
    <div class="col-xs-10 col-sm-11">
      <address>
        <p>
          <strong>
            Det Kongelige Bibliotek<br/>
            Nationalbibliotek og Københavns Universitetsbibliotek
          </strong>
          <small>
            <br/>
            Søren Kierkegaards Plads 1 - 1219 København K - EAN: 5798 000795297 - <abbr title="Telefon nr.">Tlf: </abbr>+45 33 47 47 47 - E-mail <a href="mailto:kb@kb.dk">kb@kb.dk</a>
            <br/>
            <span class="glyphicon glyphicon-thumbs-up"></span> <a href="https://www.facebook.com/DetKongeligeBibliotek" target="_blank">Følg os på Facebook</a>
          </small>
        </p>
      </address>
    </div>
  </div>

 </div>



