<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %> 
    <%= javascript_include_tag 'application' %>

    <!-- Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../javascripts/respond-min.js"></script>
    <![endif]-->
    <title><%= umlaut_title_text %></title>
    <%= render_umlaut_head_content %>
  </head>
  <body class="umlaut no-js">

      <header>
        <%= render :partial => "umlaut/header" %>
      </header>

      <div id="content">
          <div class="<%= "umlaut-#{params[:controller]}-container" %>">
            <%= yield %>
          </div>
      </div>

      <footer>
        <%= render :partial => "umlaut/footer" %>
      </footer>

  </body>
</html>
